.single {
    display: flex;
    width: 100%;

    .single-container {
        flex: 5;

        .top {
            padding: 20px;
            display: flex;
            gap: 20px;

            .left {
                flex: 1;
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.50);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.50);
                padding: 10px 20px;
                position: relative;

                .edit-button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 10px;
                    padding: 5px 12px;
                    font-size: 14px;
                    font-weight: 500;
                    color: #7451f8;
                    background-color: #7551f818;
                    cursor: pointer;
                    border-radius: 5px;
                }

                .title {
                    font-size: 18px;
                    color: rgba(0, 0, 0, 0.534);
                    font-weight: 500;
                }

                .item {
                    display: flex;
                    margin-top: 40px;
                    gap: 20px;

                    .item-image {
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        border-style: solid black;
                        object-fit: cover;
                    }

                    .details {
                        margin-left: 5px;

                        .item-title {
                            font-size: 16px ;
                            margin-bottom: 15px;
                            color: #0a0a0ae2;
                        }

                        .detail-item {
                            margin-bottom: 5px;
                        }

                        span {
                            font-size: 15px;
                        }

                        .item-key {
                            color: black;
                            margin-right: 5px;
                        }

                        .item-value {
                            color: gray;
                            font-weight: 600;
                        }
                    }
                }
            }

            .right {
                flex: 2;
            }
        }

        .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 10px 20px;

            .title {
                font-size: 18px;
                color: rgba(0, 0, 0, 0.534);
                font-weight: 500;
                margin-bottom: 20px;
            }
        }
    }
}